@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
    margin: 0;
}
/* shared styles */
.use-color{
    color: #0D1321;
    opacity: 0.7;
}
.title-dev-color{
    color: #0D1321B3;

}
/* nav styles */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-title {
    font-size: 28px;
    font-weight: 800;
    margin-top:50px;
    line-height: 33px;
}
.btn-download {
    box-sizing: border-box;
    border: 1px solid #0D1321;
    border-radius: 8px;
    opacity: 0.8;
    margin-top: 38px;
    padding: 17px 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;

}
.btn-download:hover{
    cursor: pointer;
}
/* banner styles */
header {
    background-image: url(../assets/Hero-bg.png);
    max-width: 1520px;
    height: 652px;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
.banner-content{
    text-align: center;
}
.banner-title{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}
.banner-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    padding: 0 60px;
    

}
.btn-contact-me{
    border-radius: 8px;
    background: #0D1321;
    color: white;
    width: 208px;
    height: 66px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;

}
.btn-contact-me:hover{
    cursor: pointer;
}

/*Development section styles */
.developer-section {
    width: 1140px;
    margin-left: 148px;
    margin-right: 152px;
    padding: 48px;
    /* margin-bottom: 32px; */
}
.Development{
    text-align: center;
    /* margin: 80px 150px; */
    
}
.Development-section{
   
    padding: 80px 97px;
    border-radius: 16px;
    background: #0D132105;



}
.development-description{
    display: flex;
    gap: 60px;
    align-items: flex-start;
    margin-bottom: 32px;
    border-radius: 16px;
    background: #FFFFFF;
}
.btn-primary {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin: 32px 0;
    padding: 12px 20px;
}
.btn-primary:hover{
    cursor: pointer;
}
/* My inspiration styles */
.inspiration-section{
    text-align: center;
}
.inspiration-title{
    margin-bottom: 24px;
}
.inspiration-description{
    margin-bottom: 48px;
}
.video-content{
    box-sizing: border-box;
    background: #0D132133;
    border-radius: 16px;
    margin: 48px 0;
    padding: 32px;
}
/* My current target styles */
.current-target{
 
    /* margin-bottom: 250px; */
    margin-top: 150px;
}
.target-content{
    text-align: center;

}
.web-Language{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.html-content{
    border-radius: 16px;
    background: #FF4C1E0D;
    margin: 0px 24px;
    padding: 40px;
}
.css-content{
    border-radius: 16px;
    background: #004CE80D;
    margin: 0px 24px;
    padding: 40px;
}
.js-content{
    border-radius: 16px;
    background: #FFDF000D;
    margin: 0px 24px;
    padding: 40px;


}

.learn-more-btn {
    margin: 24px 0;
    /* padding: 30px 0; */
    font-weight: 700;
    line-height: 19px;
    text-decoration-line: underline;
    border: none;

}
.learn-more-btn:hover{
    cursor: pointer;
}
/* Next target styles */
/* .next-target-description{
    display: flex;
} */
 .next-target-section {
     margin: 111px 0px;
     
 }
.target-title{
    text-align: center;
    margin: 48px 0px;
}
.next-target-description{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.next-target-description img {
    margin-top: 40px;
    margin-left: 20px;
    width: 94.78px;
    height: 84.41px;
    
}
.next-target-content {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    box-sizing: border-box;
    border: 1px solid #0D132126;
    border-radius: 16px;
    background: white;
}

/* support section styles */

.support-section{
    background-image: url(../assets/handshake2.jpg);
    max-width: 1140px;
    height: 350px;
    /* margin-left: 150px;
    margin-right: 150px; */
    margin-top: 150px;
    margin-bottom: 80px;
    padding: 64px 48px;
    text-align: center;
    box-sizing: border-box;
    border: #0D132126;
    border-radius: 16px;

}
.support-submit{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.support-title{
    color: white;
}
.support-title h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
}
.btn-submit{
    border-radius: 8px;
    background: white;
    margin: 0 16px;
    padding: 11px 16px;
}
.btn-submit:hover{
    cursor: pointer;
}
.text-area{
    box-sizing: border-box;
    border: 1px solid #0D132126;
    border-radius: 8px;
    background: white;
    margin: 0 16px;
    padding: 0 5px;
}
.support-content{
    margin-top: 20px;
    padding: 0 60px;
}

textarea {
    color: #0D132166;
    /* width: 313px; */
    height: 30px;
    margin: 0 10px;
    padding-top: 10px;

}
/* footer styles */
.Social-media {
    display: flex;
    justify-content: space-around;
    gap: 526px;
    /* width: 1140px; */
    height: 36px;
    margin: 32px;
}
.footer-title{
    /* margin: 0 16px; */
    font-size: 20px;

}
footer{
    max-width: 1440px;
    height: 100px;
    padding: 32px 150px;
    border-radius: 16px;
    background: #0D132108;
}
.social-icons{
    padding-top: 15px;
}